* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
section {
  margin: 0px 50px;
}
#createProduct {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.infoFields {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  margin-top: 10px;
}
#createForm button {
  margin-top: 10px;
  margin-right: 10px;
}
/* #displayProduct {
  height: 100vh;
} */
table {
  border: 1px solid black;
  border-collapse: collapse;
}
table td {
  /* width: fit-content; */
  object-fit: contain;
  width: 5%;
  /* height: %; */
  border: 1px solid black;
  text-align: center;
  font-size: 18px;
  padding: 5px;
}
table th {
  border: 1px solid black;
  text-align: center;
  padding: 10px;
}
.fa-solid {
  font-size: 16px;
  margin: 0px 5px;
  cursor: pointer;
}
.fa-trash {
  color: #d4403a;
}
.fa-pen-to-square {
  color: #14a44d;
}
.fa-eye {
  color: #0275d8;
}
table td img {
  object-fit: contain;
  width: 60%;
  padding: 0;
  /* height: 10%; */
}
#displayProduct {
  display: none;
  width: 65%;
  /* height: 50%; */
}
#search-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
tbody h2 {
  text-align: center;
}
